<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manzhushaka.biz.pii.infrastructure.persistence.mapper.PiiPayQrcodeTaxItemMapper">

    <resultMap id="BaseResultMap" type="com.manzhushaka.biz.pii.infrastructure.persistence.entity.PiiPayQrcodeTaxItem">
        <id property="id" column="id"/>
        <result property="qrcodeId" column="qrcode_id"/>
        <result property="taxItemId" column="tax_item_id"/>
        <result property="defaultAmount" column="default_amount"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="BaseColumnList">id, qrcode_id, tax_item_id, default_amount, del_flag</sql>

    <insert id="insert" parameterType="com.manzhushaka.biz.pii.infrastructure.persistence.entity.PiiPayQrcodeTaxItem" useGeneratedKeys="true" keyProperty="id">
        insert into pii_pay_qrcode_tax_item (qrcode_id, tax_item_id, default_amount, del_flag)
        values (#{qrcodeId}, #{taxItemId}, #{defaultAmount}, #{delFlag})
    </insert>

    <update id="updateById">
        update pii_pay_qrcode_tax_item
        <set>
            <if test="qrcodeId != null">qrcode_id = #{qrcodeId},</if>
            <if test="taxItemId != null">tax_item_id = #{taxItemId},</if>
            <if test="defaultAmount != null">default_amount = #{defaultAmount},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </set>
        where id = #{id} and del_flag = 0
    </update>

    <update id="deleteById">
        update pii_pay_qrcode_tax_item set del_flag = 2 where id = #{id} and del_flag = 0
    </update>

    <update id="deleteByQrcodeId">
        update pii_pay_qrcode_tax_item set del_flag = 2 where qrcode_id = #{qrcodeId} and del_flag = 0
    </update>

    <update id="deleteByQrcodeIdAndTaxItemId">
        update pii_pay_qrcode_tax_item set del_flag = 2 where qrcode_id = #{qrcodeId} and tax_item_id = #{taxItemId} and del_flag = 0
    </update>

    <select id="selectByQrcodeIdAndTaxItemId" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/> from pii_pay_qrcode_tax_item where qrcode_id = #{qrcodeId} and tax_item_id = #{taxItemId} and del_flag = 0
    </select>

    <select id="selectByQrcodeId" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/> from pii_pay_qrcode_tax_item where qrcode_id = #{qrcodeId} and del_flag = 0 order by id asc
    </select>

</mapper>
