<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manzhushaka.biz.pii.infrastructure.persistence.mapper.PiiPaymentNotifyLogMapper">

    <resultMap id="BaseResultMap" type="com.manzhushaka.biz.pii.infrastructure.persistence.entity.PiiPaymentNotifyLog">
        <id property="id" column="id"/>
        <result property="outTradeNo" column="out_trade_no"/>
        <result property="notifyPayload" column="notify_payload"/>
        <result property="sign" column="sign"/>
        <result property="verifyResult" column="verify_result"/>
        <result property="processed" column="processed"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <sql id="BaseColumnList">id, out_trade_no, notify_payload, sign, verify_result, processed, created_at</sql>

    <insert id="insert" parameterType="com.manzhushaka.biz.pii.infrastructure.persistence.entity.PiiPaymentNotifyLog" useGeneratedKeys="true" keyProperty="id">
        insert into pii_payment_notify_log (out_trade_no, notify_payload, sign, verify_result, processed, created_at)
        values (#{outTradeNo}, #{notifyPayload}, #{sign}, #{verifyResult}, #{processed}, #{createdAt})
    </insert>

    <update id="updateById">
        update pii_payment_notify_log
        <set>
            <if test="outTradeNo != null">out_trade_no = #{outTradeNo},</if>
            <if test="notifyPayload != null">notify_payload = #{notifyPayload},</if>
            <if test="sign != null">sign = #{sign},</if>
            <if test="verifyResult != null">verify_result = #{verifyResult},</if>
            <if test="processed != null">processed = #{processed},</if>
        </set>
        where id = #{id}
    </update>

    <update id="markProcessed">
        update pii_payment_notify_log set processed = 1 where out_trade_no = #{outTradeNo}
    </update>

    <select id="selectByOutTradeNo" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/> from pii_payment_notify_log where out_trade_no = #{outTradeNo}
    </select>

</mapper>
