<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manzhushaka.iip.mapper.IipCouponMapper">
    
    <resultMap type="IipCoupon" id="IipCouponResult">
    	<id     property="couponId"          column="coupon_id"          />
        <result property="couponName"        column="coupon_name"        />
        <result property="couponType"        column="coupon_type"        />
        <result property="coverImage"        column="cover_image"        />
        <result property="targetName"        column="target_name"        />
        <result property="pointsCost"        column="points_cost"        />
        <result property="totalStock"        column="total_stock"        />
        <result property="remainStock"       column="remain_stock"       />
        <result property="perMemberLimit"    column="per_member_limit"   />
        <result property="exchangeStartTime" column="exchange_start_time"/>
        <result property="exchangeEndTime"   column="exchange_end_time"  />
        <result property="validType"         column="valid_type"         />
        <result property="validStartTime"    column="valid_start_time"   />
        <result property="validEndTime"      column="valid_end_time"     />
        <result property="validDays"         column="valid_days"         />
        <result property="thresholdAmount"   column="threshold_amount"   />
        <result property="discountAmount"    column="discount_amount"    />
        <result property="merchantId"        column="merchant_id"        />
        <result property="useDesc"           column="use_desc"           />
        <result property="status"            column="status"             />
        <result property="sort"              column="sort"               />
        <result property="category"          column="category"           />
        <result property="sponsorType"       column="sponsor_type"       />
        <result property="sponsorName"       column="sponsor_name"       />
        <result property="createBy"          column="create_by"          />
        <result property="createTime"        column="create_time"        />
        <result property="updateBy"          column="update_by"          />
        <result property="updateTime"        column="update_time"        />
        <result property="remark"            column="remark"             />
    </resultMap>
    
    <sql id="selectIipCouponVo">
        select coupon_id, coupon_name, coupon_type, cover_image, target_name, points_cost, total_stock, remain_stock, per_member_limit, exchange_start_time, exchange_end_time, valid_type, valid_start_time, valid_end_time, valid_days, threshold_amount, discount_amount, merchant_id, use_desc, status, sort, category, sponsor_type, sponsor_name, create_by, create_time, update_by, update_time, remark 
		from iip_coupon
    </sql>
    
    <select id="selectIipCouponList" parameterType="IipCoupon" resultMap="IipCouponResult">
        <include refid="selectIipCouponVo"/>
        <where>
			<if test="couponName != null and couponName != ''">
				AND coupon_name like concat('%', #{couponName}, '%')
			</if>
			<if test="couponType != null and couponType != ''">
				AND coupon_type = #{couponType}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="category != null and category != ''">
				AND category = #{category}
			</if>
			<if test="merchantId != null">
				AND merchant_id = #{merchantId}
			</if>
		</where>
		order by sort asc, coupon_id desc
    </select>
    
    <select id="selectIipCouponById" parameterType="Long" resultMap="IipCouponResult">
        <include refid="selectIipCouponVo"/>
        where coupon_id = #{couponId}
    </select>
    
    <insert id="insertIipCoupon" parameterType="IipCoupon" useGeneratedKeys="true" keyProperty="couponId">
        insert into iip_coupon (
			<if test="couponName != null and couponName != '' ">coupon_name,</if>
			<if test="couponType != null and couponType != '' ">coupon_type,</if>
			<if test="coverImage != null and coverImage != '' ">cover_image,</if>
			<if test="targetName != null and targetName != '' ">target_name,</if>
			<if test="pointsCost != null">points_cost,</if>
			<if test="totalStock != null">total_stock,</if>
			<if test="remainStock != null">remain_stock,</if>
			<if test="perMemberLimit != null">per_member_limit,</if>
			<if test="exchangeStartTime != null">exchange_start_time,</if>
			<if test="exchangeEndTime != null">exchange_end_time,</if>
			<if test="validType != null and validType != '' ">valid_type,</if>
			<if test="validStartTime != null">valid_start_time,</if>
			<if test="validEndTime != null">valid_end_time,</if>
			<if test="validDays != null">valid_days,</if>
			<if test="thresholdAmount != null">threshold_amount,</if>
			<if test="discountAmount != null">discount_amount,</if>
			<if test="merchantId != null">merchant_id,</if>
			<if test="useDesc != null and useDesc != '' ">use_desc,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="sort != null">sort,</if>
			<if test="category != null and category != '' ">category,</if>
			<if test="sponsorType != null and sponsorType != '' ">sponsor_type,</if>
			<if test="sponsorName != null and sponsorName != '' ">sponsor_name,</if>
			<if test="createBy != null and createBy != ''">create_by,</if>
			<if test="remark != null and remark != ''">remark,</if>
 			create_time
        )values(
			<if test="couponName != null and couponName != ''">#{couponName},</if>
			<if test="couponType != null and couponType != ''">#{couponType},</if>
			<if test="coverImage != null and coverImage != ''">#{coverImage},</if>
			<if test="targetName != null and targetName != ''">#{targetName},</if>
			<if test="pointsCost != null">#{pointsCost},</if>
			<if test="totalStock != null">#{totalStock},</if>
			<if test="remainStock != null">#{remainStock},</if>
			<if test="perMemberLimit != null">#{perMemberLimit},</if>
			<if test="exchangeStartTime != null">#{exchangeStartTime},</if>
			<if test="exchangeEndTime != null">#{exchangeEndTime},</if>
			<if test="validType != null and validType != ''">#{validType},</if>
			<if test="validStartTime != null">#{validStartTime},</if>
			<if test="validEndTime != null">#{validEndTime},</if>
			<if test="validDays != null">#{validDays},</if>
			<if test="thresholdAmount != null">#{thresholdAmount},</if>
			<if test="discountAmount != null">#{discountAmount},</if>
			<if test="merchantId != null">#{merchantId},</if>
			<if test="useDesc != null and useDesc != ''">#{useDesc},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="sort != null">#{sort},</if>
			<if test="category != null and category != ''">#{category},</if>
			<if test="sponsorType != null and sponsorType != ''">#{sponsorType},</if>
			<if test="sponsorName != null and sponsorName != ''">#{sponsorName},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
 			sysdate()
		)
    </insert>
	 
    <update id="updateIipCoupon" parameterType="IipCoupon">
        update iip_coupon 
        <set>
            <if test="couponName != null and couponName != ''">coupon_name = #{couponName},</if>
            <if test="couponType != null and couponType != ''">coupon_type = #{couponType},</if>
            <if test="coverImage != null">cover_image = #{coverImage},</if>
            <if test="targetName != null">target_name = #{targetName},</if>
            <if test="pointsCost != null">points_cost = #{pointsCost},</if>
            <if test="totalStock != null">total_stock = #{totalStock},</if>
            <if test="remainStock != null">remain_stock = #{remainStock},</if>
            <if test="perMemberLimit != null">per_member_limit = #{perMemberLimit},</if>
            <if test="exchangeStartTime != null">exchange_start_time = #{exchangeStartTime},</if>
            <if test="exchangeEndTime != null">exchange_end_time = #{exchangeEndTime},</if>
            <if test="validType != null and validType != ''">valid_type = #{validType},</if>
            <if test="validStartTime != null">valid_start_time = #{validStartTime},</if>
            <if test="validEndTime != null">valid_end_time = #{validEndTime},</if>
            <if test="validDays != null">valid_days = #{validDays},</if>
            <if test="thresholdAmount != null">threshold_amount = #{thresholdAmount},</if>
            <if test="discountAmount != null">discount_amount = #{discountAmount},</if>
            <if test="merchantId != null">merchant_id = #{merchantId},</if>
            <if test="useDesc != null">use_desc = #{useDesc},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="sponsorType != null and sponsorType != ''">sponsor_type = #{sponsorType},</if>
            <if test="sponsorName != null">sponsor_name = #{sponsorName},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
 			update_time = sysdate()
        </set>
        where coupon_id = #{couponId}
    </update>
    
    <!-- 原子扣减券剩余库存（remain_stock 大于 0 时减 1） -->
    <update id="decrStock" parameterType="Long">
        update iip_coupon
        set remain_stock = remain_stock - 1,
            update_time = sysdate()
        where coupon_id = #{couponId}
          and remain_stock &gt; 0
    </update>

    <!-- 积分商城券列表：上架且兑换窗口为空或当前在窗口内，可按品类筛选 -->
    <select id="selectMallCouponList" resultMap="IipCouponResult">
        <include refid="selectIipCouponVo"/>
        where status = '0'
          and (exchange_start_time is null or exchange_start_time &lt;= #{now})
          and (exchange_end_time is null or exchange_end_time &gt;= #{now})
        <if test="category != null and category != ''">
          and category = #{category}
        </if>
        order by sort asc, create_time desc
    </select>
	
    <delete id="deleteIipCouponById" parameterType="Long">
        delete from iip_coupon where coupon_id = #{couponId}
    </delete>
    
    <delete id="deleteIipCouponByIds" parameterType="Long">
        delete from iip_coupon where coupon_id in 
        <foreach item="couponId" collection="array" open="(" separator="," close=")">
        	#{couponId}
        </foreach>
    </delete>
    
</mapper>
