<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manzhushaka.iip.mapper.IipCouponRecordMapper">
    
    <resultMap type="IipCouponRecord" id="IipCouponRecordResult">
    	<id     property="recordId"         column="record_id"          />
        <result property="couponId"         column="coupon_id"          />
        <result property="couponName"       column="coupon_name"        />
        <result property="couponType"       column="coupon_type"        />
        <result property="memberId"         column="member_id"          />
        <result property="pointsCost"       column="points_cost"        />
        <result property="verifyCode"       column="verify_code"        />
        <result property="status"           column="status"             />
        <result property="exchangeTime"     column="exchange_time"      />
        <result property="validStartTime"   column="valid_start_time"   />
        <result property="validEndTime"     column="valid_end_time"     />
        <result property="verifyTime"       column="verify_time"        />
        <result property="verifyMerchantId" column="verify_merchant_id" />
        <result property="verifyBy"         column="verify_by"          />
        <result property="activityId"       column="activity_id"        />
        <result property="voidTime"         column="void_time"          />
        <result property="voidBy"           column="void_by"            />
        <result property="voidReason"       column="void_reason"        />
        <result property="createBy"         column="create_by"          />
        <result property="createTime"       column="create_time"        />
        <result property="updateBy"         column="update_by"          />
        <result property="updateTime"       column="update_time"        />
        <result property="remark"           column="remark"             />
    </resultMap>
    
    <sql id="selectIipCouponRecordVo">
        select record_id, coupon_id, coupon_name, coupon_type, member_id, points_cost, verify_code, status,
               exchange_time, valid_start_time, valid_end_time, verify_time, verify_merchant_id, verify_by,
               activity_id, void_time, void_by, void_reason, create_by, create_time, update_by, update_time, remark
		from iip_coupon_record
    </sql>
    
    <select id="selectIipCouponRecordList" parameterType="IipCouponRecord" resultMap="IipCouponRecordResult">
        <include refid="selectIipCouponRecordVo"/>
        <where>
			<if test="couponId != null">
				AND coupon_id = #{couponId}
			</if>
			<if test="couponName != null and couponName != ''">
				AND coupon_name like concat('%', #{couponName}, '%')
			</if>
			<if test="memberId != null">
				AND member_id = #{memberId}
			</if>
			<if test="verifyCode != null and verifyCode != ''">
				AND verify_code = #{verifyCode}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="activityId != null">
				AND activity_id = #{activityId}
			</if>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				and date_format(exchange_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				and date_format(exchange_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
			</if>
		</where>
		order by record_id desc
    </select>
    
    <select id="selectIipCouponRecordById" parameterType="Long" resultMap="IipCouponRecordResult">
        <include refid="selectIipCouponRecordVo"/>
        where record_id = #{recordId}
    </select>
    
    <select id="selectByVerifyCode" parameterType="String" resultMap="IipCouponRecordResult">
        <include refid="selectIipCouponRecordVo"/>
        where verify_code = #{verifyCode} limit 1
    </select>
    
    <select id="countByCouponAndMember" resultType="int">
        select count(*) from iip_coupon_record
        where coupon_id = #{couponId}
          and status != '3'
        <if test="memberId != null">
            and member_id = #{memberId}
        </if>
    </select>

    <!-- 用户本人券实例列表（我的券，按兑换时间倒序） -->
    <select id="selectByMember" resultMap="IipCouponRecordResult">
        <include refid="selectIipCouponRecordVo"/>
        where member_id = #{memberId}
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        order by exchange_time desc
    </select>

    <!-- 将用户本人已过期的未使用券批量置为已过期 -->
    <update id="expireByMember">
        update iip_coupon_record
        set status = '2',
            update_time = sysdate()
        where member_id = #{memberId}
          and status = '0'
          and valid_end_time is not null
          and valid_end_time &lt; #{now}
    </update>

    <update id="voidUnusedAtomic">
        update iip_coupon_record
        set status = '3',
            void_time = sysdate(),
            void_by = #{voidBy},
            void_reason = #{voidReason},
            update_by = #{voidBy},
            update_time = sysdate()
        where record_id = #{recordId}
          and status = '0'
    </update>
    
    <insert id="insertIipCouponRecord" parameterType="IipCouponRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into iip_coupon_record (
			<if test="couponId != null">coupon_id,</if>
			<if test="couponName != null and couponName != '' ">coupon_name,</if>
			<if test="couponType != null and couponType != '' ">coupon_type,</if>
			<if test="memberId != null">member_id,</if>
			<if test="pointsCost != null">points_cost,</if>
			<if test="verifyCode != null and verifyCode != '' ">verify_code,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="exchangeTime != null">exchange_time,</if>
			<if test="validStartTime != null">valid_start_time,</if>
			<if test="validEndTime != null">valid_end_time,</if>
			<if test="verifyTime != null">verify_time,</if>
			<if test="verifyMerchantId != null">verify_merchant_id,</if>
			<if test="verifyBy != null and verifyBy != '' ">verify_by,</if>
				<if test="activityId != null">activity_id,</if>
				<if test="voidTime != null">void_time,</if>
				<if test="voidBy != null and voidBy != ''">void_by,</if>
				<if test="voidReason != null and voidReason != ''">void_reason,</if>
			<if test="createBy != null and createBy != ''">create_by,</if>
			<if test="remark != null and remark != ''">remark,</if>
 			create_time
        )values(
			<if test="couponId != null">#{couponId},</if>
			<if test="couponName != null and couponName != ''">#{couponName},</if>
			<if test="couponType != null and couponType != ''">#{couponType},</if>
			<if test="memberId != null">#{memberId},</if>
			<if test="pointsCost != null">#{pointsCost},</if>
			<if test="verifyCode != null and verifyCode != ''">#{verifyCode},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="exchangeTime != null">#{exchangeTime},</if>
			<if test="validStartTime != null">#{validStartTime},</if>
			<if test="validEndTime != null">#{validEndTime},</if>
			<if test="verifyTime != null">#{verifyTime},</if>
			<if test="verifyMerchantId != null">#{verifyMerchantId},</if>
			<if test="verifyBy != null and verifyBy != ''">#{verifyBy},</if>
				<if test="activityId != null">#{activityId},</if>
				<if test="voidTime != null">#{voidTime},</if>
				<if test="voidBy != null and voidBy != ''">#{voidBy},</if>
				<if test="voidReason != null and voidReason != ''">#{voidReason},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
 			sysdate()
		)
    </insert>
	 
    <update id="updateIipCouponRecord" parameterType="IipCouponRecord">
        update iip_coupon_record 
        <set>
            <if test="couponId != null">coupon_id = #{couponId},</if>
            <if test="couponName != null and couponName != ''">coupon_name = #{couponName},</if>
            <if test="couponType != null and couponType != ''">coupon_type = #{couponType},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="pointsCost != null">points_cost = #{pointsCost},</if>
            <if test="verifyCode != null and verifyCode != ''">verify_code = #{verifyCode},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="exchangeTime != null">exchange_time = #{exchangeTime},</if>
            <if test="validStartTime != null">valid_start_time = #{validStartTime},</if>
            <if test="validEndTime != null">valid_end_time = #{validEndTime},</if>
            <if test="verifyTime != null">verify_time = #{verifyTime},</if>
            <if test="verifyMerchantId != null">verify_merchant_id = #{verifyMerchantId},</if>
            <if test="verifyBy != null">verify_by = #{verifyBy},</if>
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="voidTime != null">void_time = #{voidTime},</if>
            <if test="voidBy != null">void_by = #{voidBy},</if>
            <if test="voidReason != null">void_reason = #{voidReason},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
 			update_time = sysdate()
        </set>
        where record_id = #{recordId}
    </update>
	
    <delete id="deleteIipCouponRecordById" parameterType="Long">
        delete from iip_coupon_record where record_id = #{recordId}
    </delete>
    
    <delete id="deleteIipCouponRecordByIds" parameterType="Long">
        delete from iip_coupon_record where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
        	#{recordId}
        </foreach>
    </delete>
    
</mapper>
