<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manzhushaka.iip.mapper.IipInvoiceMapper">
    
    <resultMap type="IipInvoice" id="IipInvoiceResult">
    	<id     property="invoiceId"    column="invoice_id"    />
        <result property="memberId"     column="member_id"     />
        <result property="merchantId"   column="merchant_id"   />
        <result property="merchantName" column="merchant_name" />
        <result property="invoiceCode"  column="invoice_code"  />
        <result property="invoiceNo"    column="invoice_no"    />
        <result property="invoiceDate"  column="invoice_date"  />
        <result property="amount"       column="amount"        />
        <result property="imageUrl"     column="image_url"     />
        <result property="status"       column="status"        />
        <result property="points"       column="points"        />
        <result property="activityId"   column="activity_id"   />
        <result property="auditBy"      column="audit_by"      />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditRemark"  column="audit_remark"  />
        <result property="createBy"     column="create_by"     />
        <result property="createTime"   column="create_time"   />
        <result property="updateBy"     column="update_by"     />
        <result property="updateTime"   column="update_time"   />
        <result property="remark"       column="remark"        />
    </resultMap>
    
    <sql id="selectIipInvoiceVo">
        select invoice_id, member_id, merchant_id, merchant_name, invoice_code, invoice_no, invoice_date, amount, image_url, status, points, activity_id, audit_by, audit_time, audit_remark, create_by, create_time, update_by, update_time, remark 
		from iip_invoice
    </sql>
    
    <select id="selectIipInvoiceList" parameterType="IipInvoice" resultMap="IipInvoiceResult">
        <include refid="selectIipInvoiceVo"/>
        <where>
			<if test="memberId != null">
				AND member_id = #{memberId}
			</if>
			<if test="merchantId != null">
				AND merchant_id = #{merchantId}
			</if>
			<if test="merchantName != null and merchantName != ''">
				AND merchant_name like concat('%', #{merchantName}, '%')
			</if>
			<if test="invoiceNo != null and invoiceNo != ''">
				AND invoice_no = #{invoiceNo}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				and date_format(create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				and date_format(create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
			</if>
		</where>
		order by invoice_id desc
    </select>
    
    <select id="selectIipInvoiceById" parameterType="Long" resultMap="IipInvoiceResult">
        <include refid="selectIipInvoiceVo"/>
        where invoice_id = #{invoiceId}
    </select>
    
    <select id="selectByCodeAndNo" resultMap="IipInvoiceResult">
        <include refid="selectIipInvoiceVo"/>
        where invoice_code = #{invoiceCode} and invoice_no = #{invoiceNo} limit 1
    </select>

    <select id="selectMemberInvoiceList" parameterType="IipInvoice" resultMap="IipInvoiceResult">
        <include refid="selectIipInvoiceVo"/>
        <where>
			<if test="memberId != null">
				AND member_id = #{memberId}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
		</where>
		order by create_time desc
    </select>

    <update id="updateAuditStatus" parameterType="IipInvoice">
        update iip_invoice
        <set>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="points != null">points = #{points},</if>
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="auditBy != null">audit_by = #{auditBy},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="auditRemark != null">audit_remark = #{auditRemark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
 			update_time = sysdate()
        </set>
        where invoice_id = #{invoiceId} and status = '0'
    </update>
    
    <insert id="insertIipInvoice" parameterType="IipInvoice" useGeneratedKeys="true" keyProperty="invoiceId">
        insert into iip_invoice (
			<if test="memberId != null">member_id,</if>
			<if test="merchantId != null">merchant_id,</if>
			<if test="merchantName != null and merchantName != '' ">merchant_name,</if>
			<if test="invoiceCode != null">invoice_code,</if>
			<if test="invoiceNo != null and invoiceNo != '' ">invoice_no,</if>
			<if test="invoiceDate != null">invoice_date,</if>
			<if test="amount != null">amount,</if>
			<if test="imageUrl != null and imageUrl != '' ">image_url,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="points != null">points,</if>
			<if test="activityId != null">activity_id,</if>
			<if test="auditBy != null and auditBy != '' ">audit_by,</if>
			<if test="auditTime != null">audit_time,</if>
			<if test="auditRemark != null and auditRemark != '' ">audit_remark,</if>
			<if test="createBy != null and createBy != ''">create_by,</if>
			<if test="remark != null and remark != ''">remark,</if>
 			create_time
        )values(
			<if test="memberId != null">#{memberId},</if>
			<if test="merchantId != null">#{merchantId},</if>
			<if test="merchantName != null and merchantName != ''">#{merchantName},</if>
			<if test="invoiceCode != null">#{invoiceCode},</if>
			<if test="invoiceNo != null and invoiceNo != ''">#{invoiceNo},</if>
			<if test="invoiceDate != null">#{invoiceDate},</if>
			<if test="amount != null">#{amount},</if>
			<if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="points != null">#{points},</if>
			<if test="activityId != null">#{activityId},</if>
			<if test="auditBy != null and auditBy != ''">#{auditBy},</if>
			<if test="auditTime != null">#{auditTime},</if>
			<if test="auditRemark != null and auditRemark != ''">#{auditRemark},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
 			sysdate()
		)
    </insert>
	 
    <update id="updateIipInvoice" parameterType="IipInvoice">
        update iip_invoice 
        <set>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="merchantId != null">merchant_id = #{merchantId},</if>
            <if test="merchantName != null and merchantName != ''">merchant_name = #{merchantName},</if>
            <if test="invoiceCode != null">invoice_code = #{invoiceCode},</if>
            <if test="invoiceNo != null and invoiceNo != ''">invoice_no = #{invoiceNo},</if>
            <if test="invoiceDate != null">invoice_date = #{invoiceDate},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="imageUrl != null and imageUrl != ''">image_url = #{imageUrl},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="points != null">points = #{points},</if>
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="auditBy != null">audit_by = #{auditBy},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="auditRemark != null">audit_remark = #{auditRemark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
 			update_time = sysdate()
        </set>
        where invoice_id = #{invoiceId}
    </update>
	
    <delete id="deleteIipInvoiceById" parameterType="Long">
        delete from iip_invoice where invoice_id = #{invoiceId}
    </delete>
    
    <delete id="deleteIipInvoiceByIds" parameterType="Long">
        delete from iip_invoice where invoice_id in 
        <foreach item="invoiceId" collection="array" open="(" separator="," close=")">
        	#{invoiceId}
        </foreach>
    </delete>
    
</mapper>
