<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manzhushaka.iip.mapper.IipMemberMapper">
    
    <resultMap type="IipMember" id="IipMemberResult">
    	<id     property="memberId"       column="member_id"       />
        <result property="nickname"       column="nickname"        />
        <result property="avatar"         column="avatar"          />
        <result property="phone"          column="phone"           />
        <result property="gender"         column="gender"          />
        <result property="status"         column="status"          />
        <result property="lastLoginTime"  column="last_login_time" />
        <result property="lastLoginIp"    column="last_login_ip"   />
        <result property="createBy"       column="create_by"       />
        <result property="createTime"     column="create_time"     />
        <result property="updateBy"       column="update_by"       />
        <result property="updateTime"     column="update_time"     />
        <result property="remark"         column="remark"          />
    </resultMap>
    
    <sql id="selectIipMemberVo">
        select member_id, nickname, avatar, phone, gender, status, last_login_time, last_login_ip, create_by, create_time, update_by, update_time, remark 
		from iip_member
    </sql>
    
    <select id="selectIipMemberList" parameterType="IipMember" resultMap="IipMemberResult">
        <include refid="selectIipMemberVo"/>
        <where>
			<if test="params.keyword != null and params.keyword != ''"><!-- 关键字检索：昵称或手机号模糊匹配 -->
				AND (nickname like concat('%', #{params.keyword}, '%') OR phone like concat('%', #{params.keyword}, '%'))
			</if>
			<if test="nickname != null and nickname != ''">
				AND nickname like concat('%', #{nickname}, '%')
			</if>
			<if test="phone != null and phone != ''">
				AND phone = #{phone}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				and date_format(create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				and date_format(create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
			</if>
		</where>
		order by member_id desc
    </select>
    
    <select id="selectIipMemberById" parameterType="Long" resultMap="IipMemberResult">
        <include refid="selectIipMemberVo"/>
        where member_id = #{memberId}
    </select>
    
    <insert id="insertIipMember" parameterType="IipMember" useGeneratedKeys="true" keyProperty="memberId">
        insert into iip_member (
			<if test="nickname != null and nickname != '' ">nickname,</if>
			<if test="avatar != null and avatar != '' ">avatar,</if>
			<if test="phone != null and phone != '' ">phone,</if>
			<if test="gender != null and gender != '' ">gender,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="lastLoginTime != null">last_login_time,</if>
			<if test="lastLoginIp != null and lastLoginIp != '' ">last_login_ip,</if>
			<if test="createBy != null and createBy != ''">create_by,</if>
			<if test="remark != null and remark != ''">remark,</if>
 			create_time
        )values(
			<if test="nickname != null and nickname != ''">#{nickname},</if>
			<if test="avatar != null and avatar != ''">#{avatar},</if>
			<if test="phone != null and phone != ''">#{phone},</if>
			<if test="gender != null and gender != ''">#{gender},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="lastLoginTime != null">#{lastLoginTime},</if>
			<if test="lastLoginIp != null and lastLoginIp != ''">#{lastLoginIp},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
 			sysdate()
		)
    </insert>
	 
    <update id="updateIipMember" parameterType="IipMember">
        update iip_member 
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="lastLoginIp != null">last_login_ip = #{lastLoginIp},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
 			update_time = sysdate()
        </set>
        where member_id = #{memberId}
    </update>
	
    <delete id="deleteIipMemberById" parameterType="Long">
        delete from iip_member where member_id = #{memberId}
    </delete>
    
    <delete id="deleteIipMemberByIds" parameterType="Long">
        delete from iip_member where member_id in 
        <foreach item="memberId" collection="array" open="(" separator="," close=")">
        	#{memberId}
        </foreach>
    </delete>
    
</mapper>
